<ion-header translucent>
  <ion-toolbar color="warning">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div>
    <input class="form-control" type="date" name="search" [(ngModel)]="searchText" autocomplete="off" style="border: 3px solid orange;">
  </div>
  <ion-accordion-group *ngFor="let liv of livraisons | filter:searchText; let i = index">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Livraison {{i+1}}
        <h3>{{liv.etatLivraison}}</h3>
        <p>Zone à livrer:  <span>{{liv.zone.nom}}</span></p>
        <p>Prix de la livraison:  <span>{{liv.zone.prixLivraison}} Fcfa</span></p>
      </ion-label>
    </ion-item>
    
    <div class="ion-padding" slot="content" *ngFor="let com of liv.commandes;let i = index">
      <ion-list>
        <ion-item-sliding>
          <ion-item detail>
            <ion-label>
              <p>Commande {{i+1}}</p>
              {{com.client?.prenom}} {{com.client?.nom}}
              <p>{{com.client?.telephone}}</p>
            </ion-label>
            <h2>{{(i+1)*3000}}F</h2>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="warning" (click)="startScan()">QR code</ion-item-option>
            <ion-item-option color="danger" id="open-modal">Code
              
              <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
                <ng-template>
                  <ion-header color="warning">
                    <ion-toolbar>
                      <ion-buttons slot="start">
                        <ion-button (click)="cancel()">Cancel</ion-button>
                      </ion-buttons>
                      <ion-title>Welcome</ion-title>
                      <ion-buttons slot="end">
                        <ion-button (click)="confirm(liv)" [strong]="true">Confirm</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding">
                    <ion-item>
                      <ion-label position="stacked">Entrer le code</ion-label>
                      <ion-input type="text" placeholder="" [(ngModel)]="name"></ion-input>
                      <small *ngIf="show">{{message}}</small>
                    </ion-item>
                  </ion-content>
                </ng-template>
              </ion-modal>
             
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>

                

<canvas #canvas hidden></canvas>

<ion-card>
  <ion-card-header>
    <ion-card-title>QR code</ion-card-title>
  </ion-card-header>
  <video #video [hidden]="!scanActive" width="100%"></video>

  <ion-card-content>
    {{scanResult}}
  </ion-card-content>
</ion-card>

<!--

                <p>{{ message }}</p>


  
-->
