<ion-header translucent>
  <ion-toolbar color="warning">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-accordion-group *ngFor="let liv of livraisons; let i = index">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Livraison {{i+1}}
        <h3>{{liv.etatLivraison}}</h3>
        <p>Zone à livrer:  <span>{{liv.zone.nom}}</span></p>
        <p>Prix de la livraison:  <span>{{liv.zone.prixLivraison}} Fcfa</span></p>
      </ion-label>
    </ion-item>
    
    <div class="ion-padding" slot="content" *ngFor="let com of liv.commandes;let i = index">
      <ion-list>
        <ion-item-sliding>
          <ion-item detail>
            <ion-label>
              <p>Commande {{i+1}}</p>
              {{com.client?.prenom}} {{com.client?.nom}}
              <p>{{com.client?.telephone}}</p>
            </ion-label>
            <h2>{{(i+1)*3000}}F</h2>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="warning" id="open-modal" (click)="startScan()">QR code</ion-item-option>
            <ion-item-option color="danger" (click)="share(item)">Code</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>


<canvas #canvas hidden></canvas>

<ion-card>
  <ion-card-header>
    <ion-card-title>QR code</ion-card-title>
  </ion-card-header>
  <video #video [hidden]="!scanActive" width="50%"></video>

  <ion-card-content>
    {{scanResult}}
  </ion-card-content>
</ion-card>

<!--
<ion-button expand="block">Open Modal</ion-button>

  <ion-modal #modal trigger="open-modal"[hidden]="!scanActive">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
              </ion-content>
    </ng-template>
  </ion-modal> -->
</ion-content>
